body {
    margin: 50px;
    background-image: url(background.png);
    font-family: arial;
}

#container {
    margin: 0 auto;
    width: 50%;
}

header ul {
	background: #aa0a0a;
	display: flex;
	list-style: none;
    margin-bottom: 0;
	padding: 7px 10px;
}

header li {
	margin: 2px 15px;
}

header a {
	text-decoration: none;
	color: white;
}

header a:hover {
	color: black;
}

main {
    margin: 0 auto;
    width: 50% ;
    background-color: white;  
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px;
}

input {
    margin-bottom: 20px;
    width: 200px;
}

#tekst {
    padding: 0 0 10px 25px;
}

footer {
    margin: 0 auto;
    padding: 9px;
    width: 48.7%;
	font-size: 10px;
	text-align: center;
	color: white;
	background-color: #262626;
}

.form-group{
    display: flex;
    justify-content: space-between;
}
.form-group label{
    display: inline-block;
   
}
.form-group input{
    display: inline-block;
    margin-right: 45px;
}
